<a href="https://colab.research.google.com/github/SqueezeU/SqueezeU/blob/main/Python%20Learning%20-%20Sr.%20Lopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ausgabe am Bildschirm mittels print
# wenn wir nichts konkretes angeben werden alle Eingaben als Text behandelt
# trotzdem sind Textanweisungen immer in Anführungszeichen zu setzen "..."
print("Hallo ")
print("Ximena, Avril, Octavio, Robert")

# wenn man einen anderen Seperator möchte, benutzt man sep = "..."
print("Ximena", "Avril", "Octavio", "Robert", sep = " - ")

# und für ein spezielles Satzende benutzt man end = "..."
print("Ximena", "Avril", "Octavio", "Robert", sep = " - ", end = " ! ")

In [ ]:
# Eingabeaufforderung an den User mittels input

print("Wie ist dein Name? ")
name = input()
print("Hallo " + name)

# eine weitere Möglichkeit wäre

name = input("Wie ist dein Name? ")
print("Hallo " + name)

In [ ]:
# Integer, Float, Tuple, String, Complex, Boolean

a = 1
b = 3.5
c = 3,5
d = "Hallo"
e = 3+5j

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

In [ ]:
# Abfragen

numero1 = input("Gib eine Zahl ein: ")
numero2 = input("Gib eine zweite Zahl ein: ")

print (numero1 + numero2)
# hier interpretiert Python die Zahlen 5 und 7 als Text, deswegen schreibt er sie einfach hintereinander - Ausgabe 57

# wenn ich möchte das Python 5 und 7 addiert, dann muss ich ihm mitteilen das es sich um Zahlen handelt - Ausgabe 12
print (int(numero1) + int(numero2))

In [ ]:
# Rechenoperationen - mathematische Berechnungen

x = 5
y = 7

print (x+y) # Addition 5 + 7
print (x-y) # Subtraktion 5 - 7
print (x*y) # Multiplikation 5 * 7
print (x/y) # Division 5 / 7
print (x**y) # Potenz 5 hoch 7 also 5x5x5x5x5x5x5
print (x%y) # Rest der Divison 5 / 7 geht nicht also Rest 5 - wären die Zahlen 11 und 4 dann wäre das Ergebnis 3 weil 4 in 11 2x reingeht (=8) und dann 3 übrigbleiben bis 11
print (x//y) # Ganzzahlige Division 5 / 7 hier wird nach der Division alles nach dem Komma einfach abgeschnitten und nur die Ganzzahl vor dem Komma angezeigt

In [ ]:
# Rechenoperationen - Wertzuweisungen

x = 5
y = 7

x += y # x = x + y
print (x)

x -= y # x = x - y
print (x)

x *= y # x = x * y
print (x)

x /= y # x = x / y
print (x)

x **= y # x = x ** y
print (x)

x %= y # x = x % y
print (x)

x //= y # x = x // y
print (x)

In [ ]:
# vergleichende Rechenoperationen - arbeiten mit dem Wert Wahr oder Falsch

x = 5
y = 7

print (x == y) # Gleich
print (x != y) # Ungleich
print (x > y) # Größer
print (x < y) # Kleiner
print (x >= y) # Größer oder gleich
print (x <= y) # Kleiner oder gleich

In [ ]:
# logische Rechenoperatoren werden verwendet um Bedingungen zu kombinieren und zu bewerten

# not: dieser Operator kehrt den Wahrheitswert eines Ausdrucks um. Wenn der Ausdruck True ist, wird er durch "not" zu False und umgekehrt
a = True
print(not a)  # Ausgabe: False

# and: dieser Operator gibt True zurück, wenn beide Ausdrücke True sind. Wenn einer der Ausdrücke False ist, gibt er False zurück
a = True
b = False
print(a and b)  # Ausgabe: False

# or: dieser Operator gibt True zurück, wenn mindestens einer der Ausdrücke True ist. Er gibt nur False zurück, wenn beide Ausdrücke False sind
a = True
b = False
print(a or b)  # Ausgabe: True

In [ ]:
# Identitätsanweisungen (Objektvergleich)

frutas1 = ["manzana", "banana", "cereza"]
frutas2 = ["uvas", "melocoton", "naranja"]
frutas3 = frutas1

print (frutas1 is frutas2)  # Ausgabe: False
print (frutas1 == frutas2)  # Ausgabe: False
print (frutas1 is frutas3)  # Ausgabe: True
print (frutas1 == frutas3)  # Ausgabe: True

#Zugehörigkeitsprüfungen

print ("manzana" in frutas1)  # Ausgabe: True
print ("manzana" not in frutas1)  # Ausgabe: False

frutas3 = "melocoton"
print (frutas3 in frutas1)  # Ausgabe: False

In [ ]:
Zahl = int(input("Gib eine Zahl ein: "))

if Zahl % 2 == 0:
   print ("Die Zahl ist gerade")
else:
   print ("Die Zahl ist ungerade")

In [ ]:
Zahl = int(input("Gib eine Zahl zwischen 1 und 10 ein: "))

if Zahl < 1:
   print ("Die Zahl ist kleiner als 1")
else:
   if Zahl > 10:
       print ("Die Zahl ist größer als 10")
   else:
       print ("Die Zahl ist zwischen 1 und 10")

In [ ]:
# Schlüsselwörter wie for oder if etc immer klein schreiben
# range(10) bedeutet 0-9 - es wird immer bei 0 angefangen
for number in range(10):
    print(number)

In [ ]:
#range(3, 9) bedeutet fange bei der kleinen Zahl an und höre 1 unter der gro0en Zahl auf
for number in range(3, 9):
    print(number)

# auch hier erfolgt die Ausgabe vertikal

In [ ]:
# range(3, 9, 2) bedeutet fange bei der kleinen Zahl an, zähle in 2er Schritten
# bis zur gewünschten großen Zahl, aber höre einen Schritt davor auf
for number in range(3, 9, 2):
    print(number)

In [ ]:
# range(10, 0, -2) bedeutet fange bei der großen Zahl an und zähle in 2er
# Schritten nach unten bis zur kleinen Zahl, höre aber einen Schritt davor auf
for number in range(10, 0, -2):
    print(number)

In [ ]:
# ein Beispiel mit Objekten - macht keinen Unterschied
lista = ["apple", "banana", "cherry"]
for fruit in lista:
    print(fruit)

In [ ]:
# hier erfolgt die Aufzählung Horizontal (end=" ")
lista = 1, 2, 3, 4, 5 # ohne Klammern ist dies einfach eine Aufzählung von Zahlen, Objekten etc. die keinen Zusammenhang haben
lista = (1, 2, 3, 4, 5) # runde Klammern () ist eine Aufzählung von Zahlen, Objekten etc. die nicht verändert werden kann
lista = [1, 2, 3, 4, 5] # eckige Klammern [] ist dies einfach eine Aufzählung von Zahlen, Objekten etc. die veränderlich sein können
for number in lista:
    print(number, end=" ") # dadurch erfolgt die Aufzählung Horizontal

In [ ]:
# While Schleife
numero = 1
while numero <= 5:
    print(numero, end=" ")
    numero += 1
# würde man die letzte codezeile weglassen, dann wäre das Ergebnis ewig 1

In [ ]:
# wann benutzt man break
numero = 0
while numero < 10:
    numero += 1
    if numero == 5:
        break
    print(numero, end=" ")
# durch break wird die Schleife beendet sobald 5 erreicht ist

In [ ]:
numero = 0 # Ausgangsnummer
while True: # solange die Schleife durchlaufen wie if true ist
    numero += 1 # eins zur vorherigen numero addieren
    if numero == 5: # bis 5 erreicht ist
        break # durch break wird die Schleife beendet sobald 5 erreicht ist
    print(numero, end=" ") # Ausgabe erfolgt horizontal

1 2 3 4

Funciones

In [ ]:
def datos(nombre, edad, ciudad):
 print(f"Edad: {edad}, Ciudad: {ciudad}, Nombre: {nombre}")

datos(edad=25, ciudad="Madrid", nombre ="Juan")

Edad: 25, Ciudad: Madrid, Nombre: Juan

In [20]:
def addiere(x, y): # dies definiert eine Funktion namens addiere, die zwei Parameter, x und y, akzeptiert
    summe = x + y # Innerhalb der Funktion wird die Summe der beiden Parameter berechnet und in der Variable summe gespeichert

    return summe # Die Funktion gibt das Ergebnis (als Variable Summe) zurück

ergebnis = addiere(3, 5) # Aufruf der Funktion mit den Argumenten 3 und 5
print(ergebnis) # Ausgabe des Ergebnisses

8

In [22]:
def begruessung(): # definiert eine Funktion namens begruessung()
    print("Hallo, willkommen!") # legt fest was in der Klammer bei Begrpssung stehen soll

begruessung() # gibt aus was in der Funktion mit print hinterlegt wurde

Hallo, willkommen!

In [23]:
# mehrere Werte zurückgeben

def berechne(x, y): # definiert die Funktion namens berechne
  summe = x + y # legt fest was im Argument summe berechnet werden soll
  differenz = x - y # legt fest was im Argument differenz berechnet werden soll
  return summe, differenz # Die Funktion gibt das Ergebnis (als Variablen) zurück

ergebnis_summe, ergebnis_differenz = berechne(10, 5) # Aufruf der Funktion mit den Argumenten 10 und 5
print("Summe:", ergebnis_summe) # Ausgabe: Summe: 15
print("Differenz:", ergebnis_differenz) # Ausgabe: Differenz: 5

Summe: 15
Differenz: 5

In [25]:
# Standartparameter

def multipliziere(x, y=2): return x * y # Standartparameter hier 2

print(multipliziere(5)) # Ausgabe: 10 (5 * 2)

print(multipliziere(5, 3)) # Ausgabe: 15 (5 * 3) - Standartparameter 2 wird pberschrieben mit 3

10
15

Klassen und Objekte

In [8]:
class Hund: # Klasse
  def __init__(self, nombre, edad):
    self.nombre = nombre # Attribute nombre siehe init Zeile
    self.edad = edad # Attribute edad siehe init Zeile

  def bellen(self): # Methode
    print(f"{self.nombre} bellt: Wau Wau!")

  def beschreibung(self): # weitere Methode
    print(f"{self.nombre} ist {self.edad} Jahre alt.")

# damit haben wir nun die Klasse erstellt, der wir nun Objekte zuweisen können

mein_Hund = Hund ("Rex", 7)
dein_Hund = Hund ("Camila", 10)

mein_Hund.bellen() # Aufruf der Methode bellen()
dein_Hund.bellen() # Aufruf der Methode bellen()
mein_Hund.beschreibung() # Aufruf der Methode beschreibung()
dein_Hund.beschreibung() # Aufruf der Methode beschreibung()

Rex bellt: Wau Wau!
Camila bellt: Wau Wau!
Rex ist 7 Jahre alt.
Camila ist 10 Jahre alt.