<a href="https://colab.research.google.com/github/SqueezeU/SqueezeU/blob/main/Python%20Learning%20-%20Sr.%20Lopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ausgabe am Bildschirm mittels print
# wenn wir nichts konkretes angeben werden alle Eingaben als Text behandelt
# trotzdem sind Textanweisungen immer in Anführungszeichen zu setzen "..."
print("Hallo ")
print("Ximena, Avril, Octavio, Robert")

# wenn man einen anderen Seperator möchte, benutzt man sep = "..."
print("Ximena", "Avril", "Octavio", "Robert", sep = " - ")

# und für ein spezielles Satzende benutzt man end = "..."
print("Ximena", "Avril", "Octavio", "Robert", sep = " - ", end = " ! ")

Hallo
Ximena, Avril, Octavio, Robert
Ximena - Avril - Octavio - Robert
Ximena - Avril - Octavio - Robert !

In [ ]:
# Eingabeaufforderung an den User mittels input

print("Wie ist dein Name? ")
name = input()
print("Hallo " + name)

# eine weitere Möglichkeit wäre

name = input("Wie ist dein Name? ")
print("Hallo " + name)

Wie ist dein Name?
Errol
Hallo Errol
Wie ist dein Name? Errol
Hallo Errol

In [ ]:
# Integer, Float, Tuple, String, Complex, Boolean

a = 1
b = 3.5
c = 3,5
d = "Hallo"
e = 3+5j

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'complex'>

In [ ]:
# Abfragen

numero1 = input("Gib eine Zahl ein: ")
numero2 = input("Gib eine zweite Zahl ein: ")

print (numero1 + numero2)
# hier interpretiert Python die Zahlen 5 und 7 als Text, deswegen schreibt er sie einfach hintereinander - Ausgabe 57

# wenn ich möchte das Python 5 und 7 addiert, dann muss ich ihm mitteilen das es sich um Zahlen handelt - Ausgabe 12
print (int(numero1) + int(numero2))

Gib eine Zahl ein: 5
Gib eine zweite Zahl ein: 7
57
12

In [ ]:
# Rechenoperationen - mathematische Berechnungen

x = 5
y = 7

print (x+y) # Addition 5 + 7
print (x-y) # Subtraktion 5 - 7
print (x*y) # Multiplikation 5 * 7
print (x/y) # Division 5 / 7
print (x**y) # Potenz 5 hoch 7 also 5x5x5x5x5x5x5
print (x%y) # Rest der Divison 5 / 7 geht nicht also Rest 5 - wären die Zahlen 11 und 4 dann wäre das Ergebnis 3 weil 4 in 11 2x reingeht (=8) und dann 3 übrigbleiben bis 11
print (x//y) # Ganzzahlige Division 5 / 7 hier wird nach der Division alles nach dem Komma einfach abgeschnitten und nur die Ganzzahl vor dem Komma angezeigt

12
-2
35
0.7142857142857143
78125
5
0

In [ ]:
# Rechenoperationen - Wertzuweisungen

x = 5
y = 7

x += y # x = x + y
print (x)

x -= y # x = x - y
print (x)

x *= y # x = x * y
print (x)

x /= y # x = x / y
print (x)

x **= y # x = x ** y
print (x)

x %= y # x = x % y
print (x)

x //= y # x = x // y
print (x)

12
5
35
5.0
78125.0
5.0
0.0

In [ ]:
# vergleichende Rechenoperationen - arbeiten mit dem Wert Wahr oder Falsch

x = 5
y = 7

print (x == y) # Gleich
print (x != y) # Ungleich
print (x > y) # Größer
print (x < y) # Kleiner
print (x >= y) # Größer oder gleich
print (x <= y) # Kleiner oder gleich

False
True
False
True
False
True

In [ ]:
# logische Rechenoperatoren werden verwendet um Bedingungen zu kombinieren und zu bewerten

# not: dieser Operator kehrt den Wahrheitswert eines Ausdrucks um. Wenn der Ausdruck True ist, wird er durch "not" zu False und umgekehrt
a = True
print(not a)  # Ausgabe: False

# and: dieser Operator gibt True zurück, wenn beide Ausdrücke True sind. Wenn einer der Ausdrücke False ist, gibt er False zurück
a = True
b = False
print(a and b)  # Ausgabe: False

# or: dieser Operator gibt True zurück, wenn mindestens einer der Ausdrücke True ist. Er gibt nur False zurück, wenn beide Ausdrücke False sind
a = True
b = False
print(a or b)  # Ausgabe: True

False
False
True

In [ ]:
# Identitätsanweisungen (Objektvergleich)

frutas1 = ["manzana", "banana", "cereza"]
frutas2 = ["uvas", "melocoton", "naranja"]
frutas3 = frutas1

print (frutas1 is frutas2)  # Ausgabe: False
print (frutas1 == frutas2)  # Ausgabe: False
print (frutas1 is frutas3)  # Ausgabe: True
print (frutas1 == frutas3)  # Ausgabe: True

#Zugehörigkeitsprüfungen

print ("manzana" in frutas1)  # Ausgabe: True
print ("manzana" not in frutas1)  # Ausgabe: False

frutas3 = "melocoton"
print (frutas3 in frutas1)  # Ausgabe: False

False
False
True
True
True
False
False

In [ ]:
Zahl = int(input("Gib eine Zahl ein: "))

if Zahl % 2 == 0:
   print ("Die Zahl ist gerade")
else:
   print ("Die Zahl ist ungerade")

Gib eine Zahl ein: 5
Die Zahl ist ungerade

In [ ]:
Zahl = int(input("Gib eine Zahl zwischen 1 und 10 ein: "))

if Zahl < 1:
   print ("Die Zahl ist kleiner als 1")
else:
   if Zahl > 10:
       print ("Die Zahl ist größer als 10")
   else:
       print ("Die Zahl ist zwischen 1 und 10")

Gib eine Zahl zwischen 1 und 10 ein: 54
Die Zahl ist größer als 10

In [1]:
# Schlüsselwörter wie for oder if etc immer klein schreiben
# range(10) bedeutet 0-9 - es wird immer bei 0 angefangen
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [2]:
#range(3, 9) bedeutet fange bei der kleinen Zahl an und höre 1 unter der gro0en Zahl auf
for number in range(3, 9):
    print(number)

# auch hier erfolgt die Ausgabe vertikal

3
4
5
6
7
8

In [3]:
# range(3, 9, 2) bedeutet fange bei der kleinen Zahl an, zähle in 2er Schritten
# bis zur gewünschten großen Zahl, aber höre einen Schritt davor auf
for number in range(3, 9, 2):
    print(number)

3
5
7

In [4]:
# range(10, 0, -2) bedeutet fange bei der großen Zahl an und zähle in 2er
# Schritten nach unten bis zur kleinen Zahl, höre aber einen Schritt davor auf
for number in range(10, 0, -2):
    print(number)

10
8
6
4
2

In [ ]:
# ein Beispiel mit Objekten - macht keinen Unterschied
lista = ["apple", "banana", "cherry"]
for fruit in lista:
    print(fruit)

In [5]:
# hier erfolgt die Aufzählung Horizontal (end=" ")
lista = 1, 2, 3, 4, 5 # ohne Klammern ist dies einfach eine Aufzählung von Zahlen, Objekten etc. die keinen Zusammenhang haben
lista = (1, 2, 3, 4, 5) # runde Klammern () ist eine Aufzählung von Zahlen, Objekten etc. die nicht verändert werden kann
lista = [1, 2, 3, 4, 5] # eckige Klammern [] ist dies einfach eine Aufzählung von Zahlen, Objekten etc. die veränderlich sein können
for number in lista:
    print(number, end=" ") # dadurch erfolgt die Aufzählung Horizontal

1 2 3 4 5

In [9]:
# While Schleife
numero = 1
while numero <= 5:
    print(numero, end=" ")
    numero += 1
# würde man die letzte codezeile weglassen, dann wäre das Ergebnis ewig 1

1 2 3 4 5

In [16]:
# wann benutzt man break
numero = 0
while numero < 10:
    numero += 1
    if numero == 5:
        break
    print(numero, end=" ")
# durch break wird die Schleife beendet sobald 5 erreicht ist

1 2 3 4

In [17]:
numero = 0
while True:
    numero += 1
    if numero == 5:
        break
    print(numero, end=" ")
# durch break wird die Schleife beendet sobald 5 erreicht ist

1 2 3 4