<a href="https://colab.research.google.com/github/SqueezeU/SqueezeU/blob/main/Python%20Learning%20-%20Sr.%20Lopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Ausgabe am Bildschirm mittels print
# wenn wir nichts konkretes angeben werden alle Eingaben als Text behandelt
# trotzdem sind Textanweisungen immer in Anführungszeichen zu setzen "..."
print("Hallo ")
print("Ximena, Avril, Octavio")

# wenn man einen anderen Seperator möchte, benutzt man sep = "..."
print("Ximena", "Avril", "Octavio", sep = " - ")

# und für ein spezielles Satzende benutzt man end = "..."
print("Ximena", "Avril", "Octavio", sep = " - ", end = " ! ")

Hallo
Ximena, Avril, Octavio
Ximena - Avril - Octavio
Ximena - Avril - Octavio !

In [18]:
# Eingabeaufforderung an den User mittels input

print("Wie ist dein Name? ")
name = input()
print("Hallo " + name)

# eine weitere Möglichkeit wäre

name = input("Wie ist dein Name? ")
print("Hallo " + name)

Wie ist dein Name?
Errol
Hallo Errol
Wie ist dein Name? Errol
Hallo Errol

In [ ]:
# Integer, Float, Tuple, String, Complex, Boolean

a = 1
b = 3.5
c = 3,5
d = "Hallo"
e = 3+5j

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'complex'>

In [ ]:
# Abfragen

numero1 = input("Gib eine Zahl ein: ")
numero2 = input("Gib eine zweite Zahl ein: ")

print (numero1 + numero2)
# hier interpretiert Python die Zahlen 5 und 7 als Text, deswegen schreibt er sie einfach hintereinander - Ausgabe 57

# wenn ich möchte das Python 5 und 7 addiert, dann muss ich ihm mitteilen das es sich um Zahlen handelt - Ausgabe 12
print (int(numero1) + int(numero2))

Gib eine Zahl ein: 5
Gib eine zweite Zahl ein: 7
57
12

In [ ]:
# Rechenoperationen - mathematische Berechnungen

x = 5
y = 7

print (x+y) # Addition 5 + 7
print (x-y) # Subtraktion 5 - 7
print (x*y) # Multiplikation 5 * 7
print (x/y) # Division 5 / 7
print (x**y) # Potenz 5 hoch 7 also 5x5x5x5x5x5x5
print (x%y) # Rest der Divison 5 / 7 geht nicht also Rest 5 - wären die Zahlen 11 und 4 dann wäre das Ergebnis 3 weil 4 in 11 2x reingeht (=8) und dann 3 übrigbleiben bis 11
print (x//y) # Ganzzahlige Division 5 / 7 hier wird nach der Division alles nach dem Komma einfach abgeschnitten und nur die Ganzzahl vor dem Komma angezeigt

12
-2
35
0.7142857142857143
78125
5
0

In [ ]:
# Rechenoperationen - Wertzuweisungen

x = 5
y = 7

x += y # x = x + y
print (x)

x -= y # x = x - y
print (x)

x *= y # x = x * y
print (x)

x /= y # x = x / y
print (x)

x **= y # x = x ** y
print (x)

x %= y # x = x % y
print (x)

x //= y # x = x // y
print (x)

12
5
35
5.0
78125.0
5.0
0.0

In [ ]:
# vergleichende Rechenoperationen - arbeiten mit dem Wert Wahr oder Falsch

x = 5
y = 7

print (x == y) # Gleich
print (x != y) # Ungleich
print (x > y) # Größer
print (x < y) # Kleiner
print (x >= y) # Größer oder gleich
print (x <= y) # Kleiner oder gleich

False
True
False
True
False
True

In [ ]:
# logische Rechenoperatoren werden verwendet um Bedingungen zu kombinieren und zu bewerten

# not: dieser Operator kehrt den Wahrheitswert eines Ausdrucks um. Wenn der Ausdruck True ist, wird er durch "not" zu False und umgekehrt
a = True
print(not a)  # Ausgabe: False

# and: dieser Operator gibt True zurück, wenn beide Ausdrücke True sind. Wenn einer der Ausdrücke False ist, gibt er False zurück
a = True
b = False
print(a and b)  # Ausgabe: False

# or: dieser Operator gibt True zurück, wenn mindestens einer der Ausdrücke True ist. Er gibt nur False zurück, wenn beide Ausdrücke False sind
a = True
b = False
print(a or b)  # Ausgabe: True

False
False
True

In [26]:
# Identitätsanweisungen (Objektvergleich)

frutas1 = ["manzana", "banana", "cereza"]
frutas2 = ["uvas", "melocoton", "naranja"]
frutas3 = frutas1

print (frutas1 is frutas2)  # Ausgabe: False
print (frutas1 == frutas2)  # Ausgabe: False
print (frutas1 is frutas3)  # Ausgabe: True
print (frutas1 == frutas3)  # Ausgabe: True

#Zugehörigkeitsprüfungen

print ("manzana" in frutas1)  # Ausgabe: True
print ("manzana" not in frutas1)  # Ausgabe: False

frutas3 = "melocoton"
print (frutas3 in frutas1)  # Ausgabe: False

False
False
True
True
True
False
False

In [1]:
Zahl = int(input("Gib eine Zahl ein: "))

if Zahl % 2 == 0:
   print ("Die Zahl ist gerade")
else:
   print ("Die Zahl ist ungerade")

Gib eine Zahl ein: 5
Die Zahl ist ungerade

In [6]:
Zahl = int(input("Gib eine Zahl zwischen 1 und 10 ein: "))

if Zahl < 1:
   print ("Die Zahl ist kleiner als 1")
else:
   if Zahl > 10:
       print ("Die Zahl ist größer als 10")
   else:
       print ("Die Zahl ist zwischen 1 und 10")

Gib eine Zahl zwischen 1 und 10 ein: 54
Die Zahl ist größer als 10